body {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
}

h2 {
    color: #FFEB3B;
    text-align: center;
}

.field {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 500px;
    text-align: center;
}

.field:focus {
    outline: none;
}

.field:focus::placeholder {
    color: #fff;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
